@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

.theme-1{
  --color-bg-main: hsl(222, 26%, 31%);
  --color-bg-toggle: hsl(223, 31%, 20%); 
  --color-bg-screen: hsl(224, 36%, 15%);

  --color-key-del-reset: hsl(225, 21%, 49%); /* del and reset*/
  --color-key-del-reset-hover: hsl(225, 47%, 71%); /* del and reset hover*/
  --color-key-shadow-del-reset: hsl(224, 28%, 35%);

  --color-key-theme-equal: hsl(6, 63%, 50%);
  --color-key-theme-equal-hover: hsl(7, 63%, 60%);
  --color-key-shadow-theme-equal-shadow: hsl(6, 70%, 34%);

  --color-key-numkey: hsl(0, 0%, 90%);
  --color-key-numkey-hover: hsl(0, 0%, 100%);
  --color-key-numkey-shadow: hsl(28, 16%, 65%);

  --color-text-maj: hsl(221, 14%, 31%);
  --color-text-min: hsl(0, 100%, 100%);
  --color-text-del-res-eq: hsl(0, 100%, 100%);
}
.theme-2{
  --color-bg-main: hsl(0, 0%, 90%);
  --color-bg-toggle: hsl(0, 5%, 81%);
  --color-bg-screen: hsl(0, 0%, 93%);

  --color-key-del-reset: hsl(185, 42%, 37%);
  --color-key-del-reset-hover: hsl(185, 33%, 59%);
  --color-key-shadow-del-reset: hsl(185, 58%, 25%);

  --color-key-theme-equal: hsl(25, 98%, 40%);
  --color-key-theme-equal-hover: hsl(25, 100%, 69%);
  --color-key-shadow-theme-equal-shadow: hsl(25, 99%, 27%);

  --color-key-numkey: hsl(0, 0%, 90%);
  --color-key-numkey-hover: hsl(0, 0%, 100%);
  --color-key-shadow-gray-orange: hsl(35, 11%, 61%);

  --color-text-maj: hsl(60, 10%, 19%);
  --color-text-min: hsl(60, 10%, 19%);
  --color-text-del-res-eq: hsl(0, 100%, 100%);
}
.theme-3{
  --color-bg-main: hsl(268, 75%, 9%);
  --color-bg-toggle: hsl(268, 71%, 12%);
  --color-bg-screen: hsl(268, 71%, 12%);

  --color-key-del-reset: hsl(281, 89%, 26%);
  --color-key-del-reset-hover: hsl(281, 45%, 62%);
  --color-key-shadow-purple: hsl(285, 91%, 52%);

  --color-key-theme-equal: hsl(176, 100%, 44%);
  --color-key-theme-equal-hover: hsl(176, 59%, 77%);
  --color-key-shadow-cyan: hsl(177, 92%, 70%);

  --color-key-bg-purple-alt: hsl(268, 47%, 21%);
  --color-key-numkey-hover: hsl(268, 16%, 52%);
  --color-key-shadow-purple-alt: hsl(290, 70%, 36%);

  --color-text-maj: hsl(52, 100%, 62%); 
  --color-text-min: hsl(52, 100%, 62%);
  --color-text-del-res-eq: hsl(0, 100%, 100%);
}
@theme {

  --color-bg-main: var(--color-bg-main);
  --color-bg-toggle: var(--color-bg-toggle);
  --color-bg-screen: var(--color-bg-screen);

  --color-key-del-reset: var(--color-key-del-reset);
  --color-key-del-reset-hover: var(--color-key-del-reset-hover);
  --color-key-shadow-del-reset: var(--color-key-shadow-del-reset);

  --color-key-theme-equal: var(--color-key-theme-equal);
  --color-key-theme-equal-hover: var(--color-key-theme-equal-hover);
  --color-key-shadow-theme-equal-shadow: var(--color-key-shadow-theme-equal-shadow);

  --color-key-numkey: var(--color-key-numkey);
  --color-key-numkey-hover: var(--color-key-numkey-hover);
  --color-key-numkey-shadow: var(--color-key-numkey-shadow);

  --color-text-maj: var(--color-text-maj);
  --color-text-min: var(--color-text-min);
  --color-text-del-res-eq: var(--color-text-del-res-eq);

  --shadow-key-del-reset : 0 4px 0px var(--color-key-shadow-del-reset);
  --shadow-theme-equal-shadow : 0 4px 0px var(--color-key-shadow-theme-equal-shadow);
  --shadow-key-numkey-shadow: 0 4px 0px var(--color-key-numkey-shadow);

  --font-league : "League Spartan";

  /* breakpoints */
  --breakpoint-tab : 640px;

}


.theme-button{
    @apply mb-0.5 border-1 border-key-theme-equal peer-[&:not(:checked)]:bg-transparent  size-5 bg-key-theme-equal inline-block rounded-full peer-checked:opacity-100 hover:bg-[#634039] transition-opacity duration-200 cursor-pointer ;
}

.calc-button{
  @apply text-3xl rounded-sm text-text-maj bg-key-numkey h-[56px]  flex items-center justify-center shadow-key-numkey-shadow 
  tab:h-[70px] tab:text-5xl tab:rounded-xl
   active:translate-y-1 cursor-pointer hover:bg-key-numkey-hover
  transition-all duration-200;
}  

